.AmazingEmojiPicker {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 320px;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px;
  color: #000;
  box-shadow: 1px 1px 5px #aaa;
  display: flex;
  flex-direction: column;
  z-index: 9999999;
  position: absolute;
}

.overlay {
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}

.header {
  font-size: 22px;
}

.header ul {
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.header ul li.active {
  background-color: #ddd;
}

.collectionName {
  padding-top: 12px;
}

.pickSection {
  background: #eee;
  border-radius: 10px;
  overflow: auto;
  height: inherit;
}

.pickSection ul {
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.pickSection ul li {
  font-size: 20px;
  margin: 3px;
}

/*dark theme*/

.AmazingEmojiPicker.dark {
  background-color: #000;
  color: #fff;
}

.AmazingEmojiPicker.dark .header ul li.active {
  background-color: #333;
}

.AmazingEmojiPicker.dark .pickSection {
  background: #121212;
}

.AmazingEmojiPicker.dark ul li:hover {
  background-color: #333;
}

.AmazingEmojiPicker.dark ul li:active {
  background: #444;
}

/**/

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  border-radius: 5px;
  padding: 5px;
}

ul li::selection {
  display: none;
}

ul li:hover {
  background-color: #ddd;
}

ul li:active {
  background: #bbb;
}
